.burn-fat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.burn-table {
    width: 90%;
    background-color: #017074;
    border-collapse: collapse;
    margin: auto;
    border-radius: 3%;
    margin-bottom: 10px;
}