@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.muscle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workout-table {
    width: 90%;
    border-radius: 3%;
    background: #017074;
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    border: 1px solid white;
    border-spacing: 5px;
    margin-bottom: 10px;
}
h1 {
    margin-top: 140px;
    text-align: center;
}

th {
    text-align: center;
    color: #ffffff;
    width: 160px;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
    color: #ffffff;

}

tr:nth-child(even){
    background-color: #232b2b;
}

