@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.muscle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.build-title {
    margin-top: 140px;
}

table {
    border-collapse: separate !important;
    border-spacing: 0;
    width: 90%;
    margin-bottom: 50px;
}
.workout-table {
    table-layout: fixed;
    border: 2px solid black;
    border-radius: 1%;
    background: #F0EEEE;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background: black;
}
.header-data {
    text-align: center;
    text-decoration: none;
}

.weeks{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sched-head {
    background: #831919;
}
.sched-head:first-child{
    border-top-left-radius: 10px;
}

.sched-head:last-child {
    border-top-right-radius: 10px;
}
