@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


.home {
    display: block;
    background: #ffffff;
}

.title-div {
    display: flex;
    justify-content: space-around;
}

h1 {
    color: #232b2b;
    font-family: 'Open Sans', sans-serif;
}

.middle {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.middle-icon1 {
    width: 260px;
    height: 260px;
    background: #a8a4a4;
    box-shadow: 5px 5px 5px 0 #831919;
}

.middle-icon2 {
    width: 260px;
    height: 260px;
    background: #a8a4a4;
    background-image: url("https://ludedinc.com/includes/images/default-profile.png")
}

.middle-icon2:hover {
    box-shadow: 2px 2px 2px 2px #831919;
}

p {
    margin: 100px 40px 0 40px;
    color: #232b2b;
    text-align: center;
}

/* .profile-link {
    background-image: url("http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png")
} */